{% extends 'master.html' %}
{% load static %}


{% block title %}

{% endblock %}





{% block main %}

    <main>
        <div class="single-wrapper">
            <div class="single-item">
                <h1>Contact Us</h1>
                <form action="" class="single-form">
                    <input placeholder="Full Name" type="text" name="name" id="">
                    <input placeholder="Email" type="email" name="email" id="">
                    <textarea placeholder="Message" name="message" rows="4" id=""></textarea>
                    <input type="submit" value="Submit" id="">
                    <p>Don't have an password? <a href="">Signup</a></p>
                </form>
            </div>       
        </div>
    </main>

{% endblock %}



{% block sections %}

{% endblock %}






{% block footer %}

{% endblock %}