{% extends 'master.html' %}
{% load static %}


{% block title %}

{% endblock %}





{% block main %}

<main>
    <div class="single-wrapper">
        <div class="single-item">
            <h1>Login</h1>
            <form action="" class="single-form">
                <input placeholder="Email" type="email" name="email" id="">
                <input placeholder="Password" name="password" type="password" id="">
                <input type="submit" value="Submit" id="">
                <p>Don't have an password? <a href="">Signup</a></p>
            </form>
        </div>       
    </div>
</main>

{% endblock %}



{% block sections %}

{% endblock %}






{% block footer %}

{% endblock %}