{% extends 'master.html' %}
{% load static %}


{% block title %}

{% endblock %}





{% block main %}

    <main>
        <div class="single-wrapper">
            <div class="single-item">
                <h1>Sign Up</h1>
                <form action="" class="single-form">
                    <input placeholder="First Name" type="text" name="first_name" id="">
                    <input placeholder="Last Name" type="text" name="last_name" id="">
                    <input placeholder="Email" type="email" name="email" id="">
                    <input placeholder="Password" name="password" type="password" id="">
                    <input placeholder="Repeat password" name="repeat-password" type="password" id="">

                    <input type="submit" name="" id="" value="Submit">
                    
                    <p>Already have an account? <a href="">Login</a></p>
                </form>
            </div>       
        </div>
    </main>

{% endblock %}



{% block sections %}

{% endblock %}






{% block footer %}

{% endblock %}