{% extends 'master.html' %}
{% load static %}


{% block title %}

{% endblock %}





{% block main %}

    <main>
        <div class="single-wrapper">
            <div class="single-item">
                <h1>Fill this Form</h1>
                <form action="" class="single-form">
                    <input placeholder="First Name" type="text" name="first_name" id="">
                    <input placeholder="Last Name" type="text" name="last_name" id="">
                    <input placeholder="Email" type="email" name="email" id="">
                    <input placeholder="location" name="location" type="text" id="">
                    <input type="file" name="cv" id="">
                    <input type="file" name="letter" id="">
                </form>
            </div>       
        </div>
    </main>

{% endblock %}



{% block sections %}

{% endblock %}






{% block footer %}

{% endblock %}